@*@using webapp_travel_agency.Models
@{

}
@model List<TravelBox>*@

<div class="container">
    <div class="mb-5">
        <h1 class="text-center display-4 mb-3">Welcome to Travel Agency Totò Cutugno</h1>
    </div>
    <table class="table table-dark table-striped table-hover mt-4">
        <thead>
            <tr>
                <th scope="col">Immagine</th>
                <th scope="col">Titolo</th>
                <th scope="col">Prezzo</th>
                <th scope="col">Descrizione</th>
                <th scope="col">Giorni di Viaggio</th>
                <th scope="col">Azioni</th>
            </tr>
        </thead>
        <tbody id="axios-travel">

        </tbody>
    </table>

    <div class="card my-5">
        <div class="card-header">
            <h1>Scrivi Messaggio</h1>
        </div>
        <div class="card-body">
            <form onsubmit="Send(event)">
                <div class="mb-3">
                    <label for="contact-email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="contact-email">
                </div>

                <div class="mb-3">
                    <label for="contact-name" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="contact-name">
                </div>

                <div class="mb-3">
                    <label for="contact-title" class="form-label">Titolo</label>
                    <input type="text" class="form-control" id="contact-title">
                </div>

                <div class="mb-3">
                    <label for="contact-text" class="form-label">Testo</label>
                    <textarea class="form-control" id="contact-text" rows="10"></textarea>
                </div>

                <div>
                    <p>* Questi campi sono obbligatori</p>
                </div>

                <button type="submit" class="btn btn-outline-success">Invia</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        let id = window.location.pathname.split('/')[3];

        axios.get(`/Api/TravelBoxesApi/GetTravelBoxId/${id}`).then(response => {
            console.log("Dati trovati", response);
            let travel = response.data;
            document.querySelector('#axios-travel').innerHTML +=
                `
                    <tr>
                        <td>
                            <img width="100" height="100" src="${travel.image}" class="rounded-circle">
                        </td>
                        <td>
                            <h3>${travel.title}</h3>
                        </td>
                        <td>
                            <h4>${travel.price}€</h4>
                        </td>
                        <td>
                            <p>${travel.description}</p>
                        </td>
                        <td>
                            <h4>${travel.traveldays}</h4>
                        </td>
                        <td>
                            <a href="/Home/Index" class="btn btn-outline-info">Torna Indietro</a>
                        </td>
                    </tr>
                `;
        }).catch(error => {
            console.log("Dati non trovati", error);
        })

        function Send(e) {
            e.preventDefault();
            axios.post(`/api/messageapi/sendmessage/${id}`, {
                email: document.querySelector('#contact-email').value,
                name: document.querySelector('#contact-name').value,
                title: document.querySelector('#contact-title').value,
                text: document.querySelector('#contact-text').value,
            })
            .then(res => {
                document.querySelector('#contact-email').value = '';
                document.querySelector('#contact-name').value = '';
                document.querySelector('#contact-title').value = '';
                document.querySelector('#contact-text').value = '';
                alert('Messaggio inviato correttamente');
            })
            .catch(error => {
                console.log(error);
                alert('Hai sbagliato trimone');
            })
        }
    </script>
}